.iframeBox {
  width: 100%;
  height: 50vh;
  border-radius: 3%;
  justify-content: center;
  border: 1px solid gray;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
  margin-left: 45%;
  margin-top: 30%;
}
